<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Waypoint sign-up</title>
        <meta charset="utf-8" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" th:href="@{/css/stylesheet.css}"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <style>
            th, td {
              padding: 4px;
            }
        </style>
    </head>
    <body>

        <div th:replace="fragments/layout :: pageTitle">Page title</div>
        <nav th:replace="fragments/layout :: nav">Navigation</nav>

        <div class="flex-wrapper">
            <div class="container" style="margin-top:30px">
                <div class="row">
                   <div class="col-sm-4">

                        <hr class="d-sm-none">

                        <div th:replace="fragments/layout :: quicknav"></div>

                        <hr class="d-sm-none">    
                    </div>
                    <div class="col-sm-8">
                        <h1>Sign up to Waypoint</h2>
                        <div th:if="${param.error}" class="alert alert-danger" th:text="${errors}">    
                            Login failed. Please check your username and password and try again.
                        </div>
                        
                        <p>
                            Here are some tips to help you create an account: 

                            <ul>
                                <li>Username and path must be 4-16 characters long. They can contain letters, digits hyphens (-) and underscores (_).</li>
                                <li>Password must contain at least one UpperCase letter, one LowerCase letter and one digit and 8 characters.</li>
                                <li>Path indicates the path where your profile will be found (i.e. https://waypointurl/yourpath</li>
                            </ul>

                            <b>Note:</b> This is a student project and data security is not guaranteed. Please do not submit any sensitive information or use passwords you use in other online services. 
                        </p>
                        
                        <form th:action="@{/auth/signup}" method="POST" th:object="${account}">
                            <table>
                                <tr>
                                    <td>Username:</td>
                                </tr>
                                <tr th:if="${#fields.hasErrors('username')}" >
                                    <td class='alert alert-danger'>Username error:<br />
                                        <span th:errors="*{username}"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" placeholder="Choose a username" type='text' th:field="*{username}"></td>
                                </tr>
                                <tr>
                                    <td>Name that is shown on Waypoint</td>
                                </tr>
                                <tr th:if="${#fields.hasErrors('name')}">
                                    <td class='alert alert-danger'>Name error:<br />
                                        <span th:errors="*{name}" ></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" placeholder="Enter your name" type='text' th:field="*{name}"></td>
                                </tr>
                                <tr>
                                    <td>Password:</td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" placeholder="Enter password" type='password'  name="password" /></td>
                                </tr>
                                <tr>
                                    <td>Re-enter password:</td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" placeholder="Enter password again" type='password'  name="passwordtwo" /></td>
                                </tr>
                                <tr>
                                    <td>Profile path:</td>
                                </tr>
                                <tr th:if="${#fields.hasErrors('pathname')}">
                                    <td class='alert alert-danger'>Pathname error:<br />
                                        <span th:errors="*{pathname}"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" placeholder="Choose path-name" type='text' th:field="*{pathname}" /></td>
                                </tr>
                                <tr>
                                    <td align ="right"><input class="btn btn-primary" type="submit" value="Send" /></td>
                                </tr>
                            </table>
                        </form>
                        
                    </div>
                </div>
            </div>

            <div class="jumbotron text-center" style="margin-bottom:0">
                <footer th:replace="fragments/layout :: footer">Footer comes here</footer>
            </div>
        </div>
    </body>
</html>

