<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Waypoint</title>
        <meta charset="utf-8" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" th:href="@{/css/stylesheet.css}"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <style></style>
    </head>
    
    
    <body>
        <!--<input type="hidden" id="friendRequests" value=th:text="${friendRequests}"/></input>-->

        <h2>Welcome to jsTest page.</h2>
        <p>
            This page is meant for testing javaScript. <br />
            This file was not included in the final project, but I left to for my future practicing.<br />
            Please ignore this file, while reviewing the project.
        </p>
        
        
        
        <p>Value of boolean check friendRequests: <span th:text='${friendRequests}'></span></p>

        <h3>Can a string of characters be found?</h3>
        <p>1234!"#¤asqw</p>
        
        <section id="topSkills"></section>
        
        <section id="otherSkills"></section>
        


<!--        <script onload="showAlert()"></script>-->
        <script th:src="@{/javascript/testcode.js}" defer></script>
        <script th:src="@{/javascript/getTopSkills.js}" defer></script>
        <script th:inline="javascript">
            var friendRequests = /*[[${friendRequests}]]*/ {};
            var contextRoot = /*[[@{/}]]*/ '';
            var userid = /*[[${useraccount.id}]]*/ {};            
            console.log(friendRequests);
            console.log(contextRoot);
            console.log(userid);
        </script>
        

    </body>
    
</html>

