<!DOCTYPE html>
<html lang="en">
<head>
    <title>Waypoint</title>
    <meta charset="utf-8" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        .avatar {
            vertical-align: middle;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
        
        .padding-0{
            padding-right:0;
            padding-left:0;
        }
    </style>
</head>
    
    <body>
        
        <div th:fragment="pageTitle" class="jumbotron text-center" style="margin-bottom:0">
            <h1>Waypoint</h1>
            <p>The number one hub for UNSC professionals</p> 
        </div>

        <nav th:fragment="navbar" class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="navbar-brand" href="#">Navigation</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/index">Message wall</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAuthority('USER')">
                        <a class="nav-link" th:href="@{/profile_view/{id}(id=${userinfo.pathname})}">Profile</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAnonymous()">
                        <a class="nav-link" href="/auth/login">Sign in</a>
                    </li>
                    <li class='nav-item' sec:authorize="hasAuthority('USER')">
                        <a class="nav-link" href="/logout">Sign out</a>
                    </li>
                    
                </ul>
            </div>  
        </nav>
        
        
        <!--This is the quick-nav bar-->
        <div th:fragment="quicknav">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a th:href="@{/index}" th:classappend="${#httpServletRequest.getRequestURI() == '/index' ? 'nav-link active':'nav-link'}" >Message wall</a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('USER')">
                    <a th:href="@{/profile_view/{id}(id=${userinfo.pathname})}" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/profile_view') ? 'nav-link active':'nav-link'}">Profile</a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('USER')">
                    <a class="nav-link" href="/updatemode" th:classappend="${#httpServletRequest.getRequestURI() == '/updatemode' ? 'nav-link active':'nav-link'}">Edit profile</a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('USER')">
                    <a class="nav-link" href="/alldata" th:classappend="${#httpServletRequest.getRequestURI() == '/alldata' ? 'nav-link active':'nav-link'}">View stored data</a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('USER')">
                    <a th:href="@{/contacts}" th:classappend="${#httpServletRequest.getRequestURI() == '/contacts' ? 'nav-link active':'nav-link'}">Contacts</a>
                </li>
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" href="/auth/login">Sign in</a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('USER')">
                    <a class="nav-link" href="/logout">Sign out</a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('USER')">
                    <form autocomplete="off" th:action="@{/searchpost}" method="POST">
                        <div class="row no-gutters">
                            <div class="col">
                                <input type="text" class="form-control" name="search" placeholder="Search users...">
                            </div>
                            <div class="col">
                                <input class="btn btn-primary" type="submit" value="Go"/>  
                            </div>
                        </div>
                    </form>
                </li>
            </ul>
        </div>
        
        <!--This is a custom notification template-->
        <div th:fragment='error' th:text="${actionError}" class="alert alert-danger"></div>
        
        
        <!--This handles posting messages-->
        <div th:fragment='postform'>
            
            <form th:action="@{/postmessage}" method="POST">
                
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">What would you like to say?</label>
                    <textarea class="form-control" placeholder="Your post must be between 10-500 characters long" id="postform" name="content" rows="3"></textarea>
                </div>
                <button type="submit" id="postformsubmit" class="btn btn-primary" value="Post">Send my post</button>    
            </form>
        </div>
        
<!--        Shows all messages-->
        <div th:fragment='msgs'>
            <div class='container' th:each="message : ${postedmessages}">
                <div class="card-deck mt-4">    
                    <div class="card">
                        <div class="card-body">
                            <img sec:authorize="hasAuthority('USER')" th:if="${message.user.profileImgId != 0}" th:src="@{/profilePic/{id}(id=${message.user.profileImgId})}" class="avatar" alt="User profile" />
                            <img sec:authorize="hasAuthority('USER')" th:if="${message.user.profileImgId == 0}" th:src="@{/media/template.PNG}" class="avatar" alt="Unicorn" />
                            <h4 class="card-title"><a th:href="@{/profile_view/{id}(id=${message.user.pathname})}" class="card-link" th:text='${message.user.name}'>Name</a> </h4>
                            <p class="card-text">
                                <span th:text="${#temporals.format(message.messageDate, 'dd.MM.yyyy HH:mm')}"></span>
                                <br />
                                <span th:text="${message.content}"> Content </span>
                                <br />
                                Likes: <span th:text="${message.likes}">-1</span>
                                Comments: <span th:text="${message.comments}">-2</span>
                            </p>


                            <a th:href="@{/like/{path}/{id}(id=${message.id}, path='index')}" class="card-link" sec:authorize="hasAuthority('USER')">Like</a>
                            <a th:href="@{/comment/{id}(id=${message.id})}" class="card-link" sec:authorize="hasAuthority('USER')">Comment</a>
                            

                        </div>
                    </div>
                </div>
            </div>
        </div>
        
<!--        Shows messages from contacts-->
        <div th:fragment='msgsContacts'>
            <div class='container' th:each="message : ${contactmessages}">
                <div class="card-deck mt-4">    
                    <div class="card">
                        <div class="card-body">
                            <img sec:authorize="hasAuthority('USER')" th:if="${message.user.profileImgId != 0}" th:src="@{/profilePic/{id}(id=${message.user.profileImgId})}" class="avatar" alt="User profile" />
                            <img sec:authorize="hasAuthority('USER')" th:if="${message.user.profileImgId == 0}" th:src="@{/media/template.PNG}" class="avatar" alt="Unicorn" />
                            <h4 class="card-title"><a th:href="@{/profile_view/{id}(id=${message.user.pathname})}" class="card-link" th:text='${message.user.name}'>Name</a> </h4>
                            <p class="card-text">
                                <span th:text="${#temporals.format(message.messageDate, 'dd.MM.yyyy HH:mm')}"></span>
                                <br />
                                <span th:text="${message.content}"> Content </span>
                                <br />
                                Likes: <span th:text="${message.likes}">-1</span>
                                Comments: <span th:text="${message.comments}">-2</span>
                            </p>


                            <a th:href="@{/like/{path}/{id}(id=${message.id}, path='index')}" class="card-link" sec:authorize="hasAuthority('USER')">Like</a>
                            <a th:href="@{/comment/{id}(id=${message.id})}" class="card-link" sec:authorize="hasAuthority('USER')">Comment</a>
                            

                        </div>
                    </div>
                </div>
            </div>
        </div>
        
<!--        Footer-->
        <div th:fragment="footer" class="jumbotron text-center" style="margin-bottom:0">
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h4>Site information</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p><a th:href="@{/docs/project}">Project documentation</a></p>
                        </div>
                        <div class="col">
                            <p><a th:href="@{/docs/feedback}">Feedback</a></p>
                        </div>
                         <div class="col">
                            <p><a th:href="@{/docs/aboutus}">About Us</a></p>
                        </div> 
                    </div>
                </div>

            </footer>
        </div>
    </body>
</html>
