<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Waypoint</title>
        <meta charset="utf-8" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" th:href="@{/css/stylesheet.css}"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <style></style>
    </head>
    
    <body>
        <div th:replace="fragments/layout :: pageTitle">Page title</div>
        <nav th:replace="fragments/layout :: nav">Navigation</nav>

         <div class="container" style="margin-top:30px">
            <div class="row">
                <div class="col-sm-4">
                    <h2 sec:authorize="isAnonymous()">Meet Waypoint's #1 patreon!</h2>
                    <img th:src="@{/media/template.PNG}" class="img-tumbnail" style="width:100%" alt="A beautiful unicorn" sec:authorize="isAnonymous()" />

                    
                    <hr class="d-sm-none">                    
                    <div th:replace="fragments/layout :: quicknav"></div>
                    <hr class="d-sm-none">
                </div>
                <div class="col-sm-8">
                    
                    
                    <h2>Welcome to Waypoint<span sec:authorize="hasAuthority('USER')">, <span th:text="${userinfo.name}">Name</span></span>!</h2>
                    <p sec:authorize="hasAuthority('USER')">
                        Your profile information has last been updated on <span th:text="${#temporals.format(userProfile.updateDate, 'dd.MM.yyyy')}"></span>. Is everything up to date?
                        <br />
                        <br />
                        For testing purposes you can choose either to view all posts or only posts by your contacts by pressing the button below.
                    </p>
                    
                    
                    
                    <form sec:authorize="hasAuthority('USER')" method="GET" th:action="@{/filtercontacts}">
                        <div class="form-group">
                           <input type="hidden" id="pathname" name="show" th:value="${show}"/>
                        </div>
                        <button type="submit" class="btn btn-primary" th:text="${show}">Filter posts</button>
                    </form>
                    
                    <p sec:authorize="isAnonymous()">
                        Waypoint is a social connecting site for UNSC professionals. 
                        Registered users can personalize their profile, connect with 
                        other users and participate in discussion. Please be sure to 
                        read through the documentation in the footer before signing up. 
                    </p>
                    
                    <div th:replace='fragments/layout :: error'></div>
                    
                    
                    <div th:replace='fragments/layout :: postform' sec:authorize="hasAuthority('USER')"></div>
                    
                    <div th:if="${show =='My contacts'}">
                        <div th:replace='fragments/layout :: msgs'></div>
                    </div>
                    
                    <p>Below you can see your contacts posts:</p>
                    
                    <div th:if="${show =='All users'}">
                        <div th:replace='fragments/layout :: msgsContacts'></div>
                    </div>
                        
                    <br />
                    <br />

                </div>
                
            </div>
        </div>
        <div th:replace="fragments/layout :: footer">Footer comes here</div>
    </body>
</html>
