
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Waypoint - search</title>
        <meta charset="utf-8" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" th:href="@{/css/stylesheet.css}"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <style></style>
    </head>
    
    <body>
        <div th:replace="fragments/layout :: pageTitle">Page title</div>
        <nav th:replace="fragments/layout :: nav">Navigation</nav>

         <div class="container" style="margin-top:30px">
            <div class="row">
                <div class="col-sm-4">
                   
                    <hr class="d-sm-none">
                        
                    <div th:replace="fragments/layout :: quicknav"></div>
                    
                    <hr class="d-sm-none">
                
                </div>
                <div class="col-sm-8">
                    
                    <h2>Search results:</h2>
                    
                    <div th:if="${searchresults.empty}" class="alert alert-info"><b>Tip:</b> If you want to see all users, search with the asterix symbol '*'.</div>
                    
                    <br />
                    <br />                    
                    
                    <div>
                        <div th:if="${searchresults.empty}">
                            <span th:text="${notification}"></span>
                        </div>
                        
                        <div class='container' th:each="result : ${searchresults}">
                            <div class="card-deck mt-4">    
                                <div th:if="${result.username != userinfo.username}" class="card bg-light mb-3">
                                    <div class="card-body">
                                        <img th:if="${result.profileImgId != 0}" th:src="@{/profilePic/{id}(id=${result.profileImgId})}" class="avatar" alt="User profile img" />
                                        <img th:if="${result.profileImgId == 0}" th:src="@{/media/template.PNG}" class="avatar" alt="Unicorn" />
                                        <h4 class="card-title"><a th:href="@{/profile_view/{id}(id=${result.pathname})}" class="card-link" th:text='${result.name}'>Name</a> </h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <br />
                    <br />
                    <h4>Newest users</h4>
                    <div class="alert alert-info">Didn't find what you were looking for? Check out Waypoint's most recent new members from below!</div>
                    
                    
                    <div>
                        <div th:if="${newest.empty}"></div>
                        
                        <div class='container' th:each="account : ${newest}">
                            <div class="card-deck mt-4">    
                                <div th:if="${account.username != userinfo.username}" class="card bg-light mb-3">
                                    <div class="card-body">
                                        <img th:if="${account.profileImgId != 0}" th:src="@{/profilePic/{id}(id=${account.profileImgId})}" class="avatar" alt="User profile img" />
                                        <img th:if="${account.profileImgId == 0}" th:src="@{/media/template.PNG}" class="avatar" alt="Unicorn" />
                                        <h4 class="card-title"><a th:href="@{/profile_view/{id}(id=${account.pathname})}" class="card-link" th:text='${account.name}'>Name</a> </h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    
                    
                </div>
                
            </div>
        </div>
        <div th:replace="fragments/layout :: footer">Footer comes here</div>
    </body>
</html>
